<div class="container mt-5">
<div>
<h1 class="mb-3 text-center mt-5 mb-5" *ngIf="tasks.length != 0">Here Are Task</h1>
<div class="row justify-content-center">
  <div class="w-auto p-3 rounded-4 mb-3 col-md-3 col-12 col-lg-4 me-3 shadow" style="background-color: lightgray;" *ngFor="let task of tasks;let index = index">
<!-- edit mode  -->

  <ng-container *ngIf="editingTaskId == task.id;else viewMode">
      <input type="text" class="form-control mb-2" [(ngModel)]="editingTitle">
      <!-- <input type="text" class="form-control mb-2" [(ngModel)]="editingTask"> -->
       <textarea class="form-control mb-3" [(ngModel)]="editingTask" rows="4"></textarea>
      <button class="btn btn-danger me-3" (click)="updateTask(task.id)">Update</button>
      
  </ng-container>
  <!-- view mode -->
  <ng-template #viewMode>
      <!-- <div class="container" *ngIf="isTaskAdded"> -->
            <!-- <div class="w-auto p-3 rounded-4  mb-3" style="background-color: lightgray;" *ngFor="let task of tasks;let index = index;"> -->
              <h2 class="mb-3 fw-bold" [ngStyle]="task.completed ? {'text-decoration':'line-through'}: {}">
                {{task.title}}
              </h2>
             <textarea
              class="mb-3 form-control"
              rows="4"
              readonly
              [ngStyle]="task.completed ? {'text-decoration': 'line-through'} : {}"
              [value]="task.task" readonly style="resize: none;">
            </textarea>
              <button class="btn btn-danger me-3" (click)="done(task.id)">Done</button>
              <button class="btn btn-secondary text-light" (click)="edit(task)" *ngIf="!task.completed">Edit</button>
              <button class="btn btn-danger" (click)="deleteTodo(task.id)" *ngIf="task.completed">delete todo</button>
            <!-- </div> -->
    <!-- </div> -->
  </ng-template>
  <div>
</div>

</div>
</div>

<div class="container d-flex justify-content-center align-items-center" style="height: 60vh;" *ngIf="tasks.length == 0">
  <h1 class="fw-bold">No todo is added plz add the todo</h1>
</div>


